// Place all the styles related to the job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slide-1 {
  background-image: url(/assets/anansi-the-spider.jpg);
  background-repeat:no-repeat;
  background-size: 100%;
}

textarea {
  width: 3917px;
  height: 745px;
  color: black;
} 

.colu {
  color: red;
}
